.header
{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-side
{
    margin-top: 7px;
    margin-left: 20px;
}
.header-side #im2,#im3,#im4,#im5,#im6,#im7,#im8
{
    margin-top: 20px;
    /* width: 50px;  */
    height: 80px; 
    margin-left: 15px;
}
.side-header
{
    display: none;
}
.side-menu
{
    display: none;
    margin-top: 30px;
    width: 100%;
    font-weight: 400;
    background-color: #3895d3;
    color: white;
}
.side-menu li
{
    list-style: none;
    padding: 15px;
    margin-top: 5px;
    border-bottom: 2px white solid;
}
.drop-down-1
{
    display: none;
}


@media screen and (max-width:1400px) 
{
   .header-main #im1
    {
        width: 370px;
    } 
    .header-side #im2,#im3,#im4,#im5,#im6,#im7,#im8
    {
        width: 60px;
        height: 60px;
    }
    .side-menu{
        display: none;
    }

@media screen and (max-width:1000px) 
{
    .header
    {
        margin-bottom: 20px;
    }
     .header-main #im1
    {
        width: 400px;
        height: 150px;
    }
    .header-side #im2,#im3,#im4,#im5,#im6,#im7,#im8
    {
        display: none;
    }
    .side-header
    {       
        display: block;
        font-size: 40px;
        /* margin-left: 200px; */
        margin-top: 45px;
    }
    .side-header .fa-solid
    {
        padding: 5px;
        border: 1px solid black;
    }
    .side-menu
    {
        width: 100%;
    }
}
@media screen and (max-width:500px) 
{
    
    
    .header-main #im1
    {
        width: 230px;
        height: 150px;
    }
    .side-header
    {
       
        display: block;
        font-size: 25px;
        margin-top: 35px;
    }
    .side-menu
    {
        width: 100%;
    }
    .side-menu li
    {
        font-size: 15px;
        list-style: none;
        padding: 15px;
        margin-top: 5px;
        border-bottom: 1px solid black;
    
    }
}

}