.navbar-main
{
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    box-shadow: 5px 5px 5px grey;
}
.navbar-main li
{
    list-style: none;
    margin-left: 25px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.navbar-main li:hover
{
    color: black;
}
.navbar-main .dropdown-menu
{
    margin-top: 40px;
    background-color:white;
    border-radius: 15px ;
    border-bottom: var(--main-color) 7px solid;
    position:absolute;
    top:-10px;

}

.navbar-main .dropdown-menu li
{
    width: 100%;
    padding-left: 70px;
    margin-left: 0px;
    padding-right: 100px;
    color: var(--main-color);
    font-weight: 500;
}

.navbar-main .dropdown-menu .dropdown-item:hover
{
    background-color: var(--main-color);
    color:white;
}
.dropdown-menu li:hover
{
    background-color: aliceblue;
}

@media screen and (max-width:1000px)
{
    .navbar-main
    {
        display: none;
    }    
}
.dropdown:hover .dropdown-menu,.dropdown-menu:hover
{
    display:block;
}

.dropdown{
    cursor:pointer;
    position:relative;

}