.overallrecruiter
{
    background-color: #eeeeee;
    padding-top: 15px;
    padding-bottom: 35px;

}

.recruiters{
    padding-left: 15px;
}
#recruitersheading{
    text-align: center;
    color: rgb(0, 119, 255);
    font-family: poppins;
    margin-top: 20px;
    font-size: 33px;
    font-weight: 600;


}
.recruitershead{
    padding-top: 30px;


}
#bussinessicon{
    color: black;
    padding-left: 30px;
    border: solid white;
    box-shadow: 1px 1px 1px 1px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.overallrecruiter
{
    margin-bottom: 0;
}