.topplacement
{
    padding: 50px;
    background-color: #eeeeee;
    text-align: center;
}
.topplacement .card
{
    padding: 5px;
    background-color: var(--main-color);
    margin-left: 5px;
    margin-right: 2px;
    transition: 0.5s;
    margin-top: 100px;
    margin-bottom: 100px;

}
.topplacement .card .card-body img
{
    border-radius: 50%;
    height: 150px;
    text-align: center;
    width: 150px;
}
.topplacement .card .card-body
{
    text-align: center;
}

#card-1
{
    transform: perspective(800px) scale(1.1);
    

}#card-2
{
    transform: perspective(800px) scale(1.2);
    z-index: 60;

}#card-3
{
    transform: perspective(800px) scale(1.3);
    z-index: 70;

}
#card-4
{
    transform: perspective(800px) scale(1.2);
    z-index: 60;


}
#card-5
{
    transform: perspective(800px) scale(1.1);

}

.topplacement .row:hover .card
{
    opacity: 0.2;

}
.topplacement .row .card:hover
{
    opacity: 1;
    box-shadow: 10px 15px 21px gray;
    transition: 1.5s;
    transform: perspective(800px) rotateY(0deg) scale(1.1);
    z-index: 99;
    cursor: pointer;


}

